.header {
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    padding: 1.5rem 0;
  }

  .navbar-toggler {
    border: none;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: .35rem;
    padding: 1rem;
    width: 3.5rem;

    @include media-breakpoint-up(md) {
      display: none;
    }

    span {
      background-color: $common;
      display: block;
      content: '';
      height: 3px;
      width: 100%;
    }
  }

  &__menu {
    display: none;
    flex-grow: initial;

    &.show {
      display: flex;
    }

    .navbar-nav {
      gap: .25rem;

      .nav-item {
        &.dropdown {
          display: flex;
          position: relative;
        }

        .nav-link {
          color: $common;
          text-decoration: none;
        }

        .dropdown-menu {
          display: none;

          &.show {
            background-color: white;
            box-shadow: 0 5px 15px rgba(0 0 0 / 15%);
            display: flex;
            flex-direction: column;
            padding: 0;
            position: absolute;
            text-wrap: nowrap;
            top: 2rem;

            .nav-item {
              .dropdown-item {
                padding: 1rem;
                text-decoration: none;

                &:hover {
                  background-color: $primary;
                  color: white;
                }
              }
            }
          }

          li {
            list-style: none;
          }
        }
      }
    }
  }

  &__social {
    color: $secondary;
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }

    ul {
      display: flex;
      gap: 1rem;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          color: $secondary;
        }
      }
    }
  }

  .btn {
    display: none;
    font-weight: 700;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}