.header {
  background-color: white;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    padding: 1.5rem 0;
  }

  &__menu {
    flex-grow: initial;

    .navbar-nav {
      gap: .25rem;

      .nav-item {
        &.dropdown {
          display: flex;

          &:after {
            content: '♦';
            display: block;
          }
        }

        .nav-link {
          color: $common;
          text-decoration: none;
        }

        .dropdown-menu {
          display: none;

          &.show {
            display: block;
          }

          li {
            list-style: none;
          }
        }
      }
    }
  }

  &__social {
    color: $secondary;

    ul {
      display: flex;
      gap: 1rem;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        a {
          color: $secondary;
        }
      }
    }
  }

  .btn {
    font-weight: 700;
  }
}