.history {
  background-color: $secondary;
  color: white;
  padding: 5rem;
  text-align: center;

  &__title {

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
    }

    p {
      font-size: 1.375rem;
    }
  }

  &__timeline {
    margin-top: 5rem;

    .timeline {
      align-items: center;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      position: relative;

      &:before {
        background-color: white;
        height: 1px;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;

        &.even {
          .timeline__year {
            margin-top: 0;
            order: 3;
            padding: .5rem 0 5rem 0;
          }

          .timeline__bullet {
            order: 2;

            &:before {
              top: -4.75rem;
            }
          }

          .timeline__content {
            order: 1;
            padding: 0 0 5.5rem 0;
          }
        }
      }

      &__year {
        color: $primary;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 5rem 0 .5rem 0;
        text-align: center;
      }

      &__bullet {
        background-color: $primary;
        border: 3px solid transparent;
        border-radius: 100px;
        content: '';
        display: block;
        height: 1rem;
        margin: 0 auto;
        position: relative;
        width: 1rem;
        z-index: 5;

        &:after {
          background-color: transparent;
          border: 2px solid $primary;
          border-radius: 100px;
          content: '';
          display: block;
          height: calc(1rem + 10px);
          position: absolute;
          width: calc(1rem + 10px);
          inset: -.5rem;
        }

        &:before {
          background-color: white;
          content: '';
          display: block;
          width: 1px;
          height: 50px;
          left: 50%;
          position: absolute;
          top: 2rem;
        }
      }

      &__content {
        display: block;
        font-size: .875rem;
        line-height: 1.1;
        max-width: 150px;
        padding-top: 5.5rem;
        position: relative;
        text-align: center;
        text-wrap: wrap;
      }
    }
  }
}