.products-list {
  display: grid;
  gap: 1rem;
  grid-template-areas: 'a'
    'b'
    'c';

  @include media-breakpoint-up(md) {
    grid-template-areas:
      'a b'
      'a c';
  }

  &__item {
    border-radius: 1.25rem;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 4rem;

    a {
      color: $common;
      text-decoration: none;
    }

    img {
      inset: 0;
      object-fit: cover;
      position: absolute;
      width: 100%;
      z-index: 0;
    }

    p {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5;
      margin: 0;
    }

    span {
      display: block;
      font-weight: 700;
      margin: 0;
    }

    &:nth-child(1n) {
      align-items: flex-end;
      grid-area: a;
      text-align: left;

      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }

    &:nth-child(2n) {
      align-items: center;
      grid-area: b;
      text-align: left;
    }

    &:nth-child(3n) {
      align-items: center;
      grid-area: c;
      text-align: left;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;
  }
}