// Colors
$primary: #F8C473;
$secondary: #0D3B34;
$common: #493123;
$soft-grey: #CCCCCC;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "common": $common,
  "soft-grey": $soft-grey,
);

// Texts
$body-color: $common;
$font-family-base: "Poppins", sans-serif;
$font-weight-normal: 400;
$font-size-base: 1.125rem;

$btn-border-radius: 100px;
$btn-padding-y: .75rem;
$btn-padding-x: 1.25rem;

html {
  scroll-padding-block-start: 7.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  text-wrap: balance;
}

.tag {
  text-transform: uppercase;
}

.btn {
  align-items: center;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 2.5rem;
  color: $common;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  gap: .5rem;
  justify-content: space-between;
  padding: .75rem 1.25rem;
  text-decoration: none;
  width: fit-content;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;

  &.btn-secondary {
    background-color: $secondary;
    border: 1px solid $secondary;
    color: white;
  }

  &.btn-outline-primary {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
}

img {
  max-width: 100%;
}