.founders {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &__image {
    @include media-breakpoint-up(md) {
      min-width: 500px;
    }
  }

  &__content {
    h2 {
      font-weight: 700;
    }
  }
}